<section id="about">  

    <div class="row section-intro">
        <div class="col-twelve">

            <h5>About</h5>
            <h1>Let me introduce myself.</h1>

            <div class="">

                <img src="assets/images/dp.jpg" alt="Profile Picture">

                <p class="lead">A Bachelor of Science in Information Technology student, speciliazing in Web Development, 21 years of age and living in Angeles City, Pampanga. For the reason that I want to showcase my creativity, skills and personality, I made this web portfolio. My key creations made during my studies are presented here. Message me if you're interested, let's add creativity on your project.</p>
            </div>   			

        </div>   		
    </div> <!-- /section-intro -->

    <div class="row about-content">

        <div class="col-six tab-full">

            <h3>Profile</h3>
            <p>Lorem ipsum Qui veniam ut consequat ex ullamco nulla in non ut esse in magna sint minim officia consectetur nisi commodo ea magna pariatur nisi cillum.</p>

            <ul class="info-list">
                <li>
                    <strong>Fullname:</strong>
                    <span>Amiel Kurt Menard M. Dasal</span>
                </li>
                <li>
                    <strong>Birth Date:</strong>
                    <span>August 19, 1999</span>
                </li>
                <li>
                    <strong>Job:</strong>
                    <span>Front-End Developer / Graphic Designer</span>
                </li>
                <li>
                    <strong>Website:</strong>
                    <span>kurtdasal.tk</span>
                </li>
                <li>
                    <strong>Email:</strong>
                    <span>kurtdasal@gmail.com</span>
                </li>

            </ul> <!-- /info-list -->

        </div>

        <div class="col-six tab-full">

            <h3>Skills</h3>
            <p>I can say that I'm proficient in HTML/CSS since I'm currently a Web Development student at Holy Angel University, a private Roman Catholic University in Angeles City. Through the years, I've studied different design softwares, such as Photoshop, Illustrator, Lightroom, and Adobe Premiere Pro for video editing.</p>

             <ul class="skill-bars">
                <li>
                    <div class="progress percent90">80%</div>
                    <strong>HTML5</strong>
                </li>
                <li>
                    <div class="progress percent85"><span>75%</span></div>
                    <strong>CSS3</strong>
                </li>
                <li>
                    <div class="progress percent70"><span>60%</span></div>
                    <strong>JQuery</strong>
                </li>
                <li>
                    <div class="progress percent95"><span>60%</span></div>
                    <strong>PHP</strong>
                </li>
                <li>

                    <div class="progress percent75"><span>50%</span></div>
                    <strong>Wordpress</strong>
                </li>
   
             </ul> <!-- /skill-bars -->		

        </div>

    </div>

    <div class="row button-section">
        <div class="col-twelve">
            <a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
            <a href="#" title="Download CV" class="button button-primary">Download CV</a>
        </div>   		
    </div>

</section> <!-- /process-->    