
                <section class="our-services-2 section-margin">
                    <div class="container">
                        <div class="one-title" data-dsn-animate="up">
                            <div class="title-sub-container">
                                <p class="title-sub">Services</p>
                            </div>
                            <h2 class="title-main">What I do.</h2>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="services-item">
                                    <div class="corner corner-top"></div>
                                    <div class="corner corner-bottom"></div>
                                    <div class="icon">
                                        <img src="assets/img/services/1.png" alt="">
                                    </div>
                                    <div class="services-header">
                                        <h3>Web Design</h3>
                                    </div>
                                    <p>Every website design is tailored to showcase the unique selling points of your business and highlight what you do best. I'll be working with you to create the best web design that represents the personality and business goals of your brand.</p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="services-item selected">
                                    <div class="corner corner-top"></div>
                                    <div class="corner corner-bottom"></div>
                                    <div class="icon">
                                        <img src="assets/img/services/2.png" alt="">
                                    </div>
                                    <div class="services-header">
                                        <h3>Photography</h3>
                                    </div>
                                    <p>Capture a moment in time that you'll be able to remember and cherish forever. Being able to record memories is one major reason why I love photography. </p>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="services-item">
                                    <div class="corner corner-top"></div>
                                    <div class="corner corner-bottom"></div>
                                    <div class="icon">
                                        <img src="assets/img/services/3.png" alt="">
                                    </div>
                                    <div class="services-header">
                                        <h3>Graphic Design</h3>
                                    </div>
                                    <p>Step in with the video editing service to make more videos and better videos that will bring more value to your company than any other tool you have ever seen before.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>