<section data-dsn="color">
    <div class="container">
    <div class="one-title" data-dsn-animate="up">
        <div class="title-sub-container">
            <p class="title-sub">Skills and Expertise</p>
        </div>
        <h2 class="title-main">My Progress.</h2>
    </div>
    <div class="row">
        <div class="col-md-5 mt-5 pt-5 skilltext">

    <p data-dsn-animate="text" class="mt-5 pt-5 skilltext">I can say that I'm proficient in HTML/CSS since I'm currently a Web Development student at Holy Angel University, a private Roman Catholic University in Angeles City. Through the years, I've studied different design softwares, such as Photoshop, Illustrator, Lightroom, and Adobe Premiere Pro for video editing. </p>
</div>
<div class="col-md-2">
<div class="skill-bars" data-dsn-animate="up">
    <div class="bar">
      <div class="info">
        <span>Graphic Design</span>
      </div>
      <div class="progress-line html">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Web Design</span>
      </div>
      <div class="progress-line css">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Photography</span>
      </div>
      <div class="progress-line jquery">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Video Editing</span>
      </div>
      <div class="progress-line python">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>HTML / CSS</span>
      </div>
      <div class="progress-line mysql">
        <span></span>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>